<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IControlService"/>
					 
			</basicHttpBinding>
		</bindings>
		<services>
			<service name="서버.ControlService"
				   behaviorConfiguration="ControlServicexx">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost/wcf/example/Databaseex"/>
					</baseAddresses>
				</host>
				<endpoint
						contract="서버.IControlService"
						address=""
						binding="basicHttpBinding"
						bindingConfiguration ="BasicHttpBinding_IControlService"
                />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="ControlServicexx">
					<serviceMetadata httpGetEnabled="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>